@model ScheduleViewModel

<h1>
    Добавить спорт-комплекс
</h1>

<form action="@Url.Action("CreateComplex", "SportComplex")" method="post">
    <div class="form-group">
<!--        Наименование: -->
    </div>
    <div class="form-group">
  
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Создать комплекс" />
    </div>
</form>
